In [1]:
#!pip install statsmodels

In [17]:
import pandas as pd
import statsmodels.api as sm
import sqlalchemy as sa
import os
import datetime
import math

# Параметры запуска

In [18]:
source_file = "data.xlsx" # исходник данных для получения universe
tickers_file = 'tickers_prices.xlsx' # файл для котировок

In [19]:
main_data = pd.read_excel(source_file, index_col=None, engine="openpyxl", parse_dates=True, sheet_name = "rates_history")
tickers_data = pd.read_excel(tickers_file, index_col=None, engine="openpyxl", parse_dates=True)
scenarios_data = pd.read_excel(source_file, index_col=None, engine="openpyxl", parse_dates=True, sheet_name = "scenario")

In [20]:
all_df = tickers_data.append(main_data)
all_df['date']=all_df['date'].astype(str)
all_df

          source    code                 date    price
0      naufor.ru     299           2017-01-09  51.1100
1      naufor.ru     299           2017-01-10  50.9600
2      naufor.ru     299           2017-01-11  51.0300
3      naufor.ru     299           2017-01-12  51.0000
4      naufor.ru     299           2017-01-13  51.1100
...          ...     ...                  ...      ...
17078        NaN  USDRUB  2021-08-31 00:00:00  73.5744
17079        NaN  USDRUB  2021-09-01 00:00:00  73.2781
17080        NaN  USDRUB  2021-09-02 00:00:00  73.1912
17081        NaN  USDRUB  2021-09-03 00:00:00  72.8491
17082        NaN  USDRUB  2021-09-04 00:00:00  72.8545

[79837 rows x 4 columns]

In [21]:
all_df[all_df['code']=='RUCBITR']

     source     code                 date   price
7425    NaN  RUCBITR  2015-06-10 00:00:00  263.59
7426    NaN  RUCBITR  2015-06-11 00:00:00  263.89
7427    NaN  RUCBITR  2015-06-15 00:00:00  266.08
7428    NaN  RUCBITR  2015-06-16 00:00:00  266.24
7429    NaN  RUCBITR  2015-06-17 00:00:00  266.68
...     ...      ...                  ...     ...
8992    NaN  RUCBITR  2021-08-30 00:00:00  460.19
8993    NaN  RUCBITR  2021-08-31 00:00:00  460.23
8994    NaN  RUCBITR  2021-09-01 00:00:00  460.61
8995    NaN  RUCBITR  2021-09-02 00:00:00  460.57
8996    NaN  RUCBITR  2021-09-03 00:00:00  460.80

[1572 rows x 4 columns]

# Добавляем доп информацию по периодам

In [22]:
all_df2 = all_df.copy()
all_df2['date'] = pd.to_datetime(all_df2['date']).dt.normalize()
all_df2['month'] = all_df2['date'].dt.month
all_df2['quarter'] = all_df2['date'].dt.quarter
all_df2['year'] = all_df2['date'].dt.year

all_df2

          source    code       date    price  month  quarter  year
0      naufor.ru     299 2017-01-09  51.1100      1        1  2017
1      naufor.ru     299 2017-01-10  50.9600      1        1  2017
2      naufor.ru     299 2017-01-11  51.0300      1        1  2017
3      naufor.ru     299 2017-01-12  51.0000      1        1  2017
4      naufor.ru     299 2017-01-13  51.1100      1        1  2017
...          ...     ...        ...      ...    ...      ...   ...
17078        NaN  USDRUB 2021-08-31  73.5744      8        3  2021
17079        NaN  USDRUB 2021-09-01  73.2781      9        3  2021
17080        NaN  USDRUB 2021-09-02  73.1912      9        3  2021
17081        NaN  USDRUB 2021-09-03  72.8491      9        3  2021
17082        NaN  USDRUB 2021-09-04  72.8545      9        3  2021

[79837 rows x 7 columns]

In [23]:
# Группируем по месяцам и году с последний известным днем и значением

all_df3 = all_df2.groupby(['code','year','month'], as_index= False).nth(-1)

In [24]:
df3 = pd.pivot_table(all_df3, values='price', index=['year','month'], columns=['code'], aggfunc='last')
df3

code             60       63       66      256    299      525     606  \
year month
2001 1          NaN      NaN      NaN      NaN    NaN      NaN     NaN
     2          NaN      NaN      NaN      NaN    NaN      NaN     NaN
     3          NaN      NaN      NaN      NaN    NaN      NaN     NaN
     4          NaN      NaN      NaN      NaN    NaN      NaN     NaN
     5          NaN      NaN      NaN      NaN    NaN      NaN     NaN
...             ...      ...      ...      ...    ...      ...     ...
2021 5      4827.97  5779.27  1028.02  8470.20  73.79  6531.13  758.91
     6      4847.67  5954.35  1077.47  8429.36  73.94  6448.88  767.93
     7      4875.02  5843.26  1106.69  8687.77  74.52  6535.32  781.48
     8      4900.58  5951.52  1139.08  9176.56  74.67  6636.33  830.07
     9      4904.18  5978.55  1149.22  9322.05  74.60  6620.23  836.07

code           651       662     2322  ...     SBER.ME    SNGS.ME  \
year month                             ...
2001 1         NaN       NaN      NaN  ...         NaN        NaN
     2         NaN       NaN      NaN  ...         NaN        NaN
     3         NaN       NaN      NaN  ...         NaN        NaN
     4         NaN       NaN      NaN  ...         NaN        NaN
     5         NaN       NaN      NaN  ...         NaN        NaN
...            ...       ...      ...  ...         ...        ...
2021 5      228.64  39768.85  5116.70  ...  310.390015  36.310001
     6      225.21  39734.28  5302.27  ...  305.549988  36.715000
     7      228.11  40098.68  5119.11  ...  306.040009  32.490002
     8      229.95  40259.89  5324.12  ...  328.140015  33.799999
     9      228.81  40245.77  5333.39  ...  330.079987  33.755001

code                SPX     TATN.ME        TSLA         UNH   USDRUB  \
year month
2001 1      1366.010010         NaN         NaN         NaN      NaN
     2      1239.939941         NaN         NaN         NaN      NaN
     3      1160.329956         NaN         NaN         NaN      NaN
     4      1249.459961         NaN         NaN         NaN      NaN
     5      1255.819946         NaN         NaN         NaN      NaN
...                 ...         ...         ...         ...      ...
2021 5      4204.109863  499.200012  625.219971  411.920013  73.5870
     6      4297.500000  532.700012  679.700012  400.440002  72.3723
     7      4395.259766  488.600006  687.200012  412.220001  73.1388
     8      4522.680176  485.200012  735.719971  416.269989  73.5744
     9      4535.430176  489.799988  733.570007  422.859985  72.8545

code                 V         WMT        XOM
year month
2001 1             NaN         NaN        NaN
     2             NaN         NaN        NaN
     3             NaN         NaN        NaN
     4             NaN         NaN        NaN
     5             NaN         NaN        NaN
...                ...         ...        ...
2021 5      227.300003  142.029999  58.369999
     6      233.820007  141.020004  63.080002
     7      246.389999  142.550003  57.570000
     8      229.100006  148.100006  54.520000
     9      225.110001  149.250000  54.869999

[249 rows x 62 columns]

In [25]:
df4 = df3.copy().reset_index()
df4 = df4[df4['year'] >= 2014]
# df4.to_excel('df4.xlsx', index=False)
df4

code,year,month,60,63,66,256,299,525,606,651,...,SBER.ME,SNGS.ME,SPX,TATN.ME,TSLA,UNH,USDRUB,V,WMT,XOM
156,2014,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1782.589966,NaN,NaN,NaN,35.2448,NaN,NaN,NaN
157,2014,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1859.449951,NaN,NaN,NaN,36.0501,NaN,NaN,NaN
158,2014,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1872.339966,NaN,NaN,NaN,35.6871,NaN,NaN,NaN
159,2014,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1883.949951,NaN,NaN,NaN,35.6983,NaN,NaN,NaN
160,2014,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1923.569946,NaN,NaN,NaN,34.7352,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,2021,5,4827.97,5779.27,1028.02,8470.20,73.79,6531.13,758.91,228.64,...,310.390015,36.310001,4204.109863,499.200012,625.219971,411.920013,73.5870,227.300003,142.029999,58.369999
245,2021,6,4847.67,5954.35,1077.47,8429.36,73.94,6448.88,767.93,225.21,...,305.549988,36.715000,4297.500000,532.700012,679.700012,400.440002,72.3723,233.820007,141.020004,63.080002
246,2021,7,4875.02,5843.26,1106.69,8687.77,74.52,6535.32,781.48,228.11,...,306.040009,32.490002,4395.259766,488.600006,687.200012,412.220001,73.1388,246.389999,142.550003,57.570000
247,2021,8,4900.58,5951.52,1139.08,9176.56,74.67,6636.33,830.07,229.95,...,328.140015,33.799999,4522.680176,485.200012,735.719971,416.269989,73.5744,229.100006,148.100006,54.520000
248,2021,9,4904.18,5978.55,1149.22,9322.05,74.60,6620.23,836.07,228.81,...,330.079987,33.755001,4535.430176,489.799988,733.570007,422.859985,72.8545,225.110001,149.250000,54.869999

# Формируем карту значений сценария

In [26]:
scenarios_dict = {}
scenarios_name_list = list(set(scenarios_data['scenario'].to_numpy().tolist()))
for scenario in scenarios_name_list:
    if scenario not in scenarios_dict:
        scenarios_dict[scenario] = {}
    sc = scenarios_data[scenarios_data['scenario']==scenario].to_dict('records')
    for row in sc:
        scenarios_dict[scenario][row['rate']] = row['forecast_value']
        
scenarios_dict

{'base': {'RU_RATE': 5.5,
  '10Y_USD': 1.4,
  'RU_CPI': 4.5,
  'IMOEX': 4934.566666666667,
  'USDRUB': 70.2,
  'SPX': 5366.913666666667,
  'RUCBITR': 501.91872},
 'negative': {'RU_RATE': 6.0,
  '10Y_USD': 3.0,
  'RU_CPI': 9.0,
  'IMOEX': 3401.4449999999997,
  'USDRUB': 83.0,
  'SPX': 3855.1155000000003,
  'RUCBITR': 460.8},
 'positive': {'RU_RATE': 5.0,
  '10Y_USD': 1.4,
  'RU_CPI': 4.0,
  'IMOEX': 5401.35,
  'USDRUB': 69.2,
  'SPX': 5986.754400000001,
  'RUCBITR': 501.91872}}

In [27]:
# дополняем не известные значения последними известными
df5 = df4.copy()
df5 = df5.fillna(method='ffill')
df5['RU_CPI']

156    6.05
157    6.20
158    6.92
159    7.33
160    7.59
       ...
244    6.01
245    6.51
246    6.47
247    6.47
248    6.47
Name: RU_CPI, Length: 93, dtype: float64

In [28]:
%%time
#Регрессия
colums_for_X = ['RU_RATE','10Y_USD', 'RU_CPI', 'IMOEX', 'USDRUB', 'SPX', 'RUCBITR']

def get_reg(code, curr_price, colums_for_X, forecast_values, data_frame):
    all_col = colums_for_X.copy()
    all_col.append(code)
    rt = data_frame[all_col].dropna()
    mod = sm.OLS(rt[code], rt[colums_for_X])
    res = mod.fit()
# #     print(res.summary())
    price = 0
    ret_data = {}
    for k in res.params.keys().tolist():
        price += res.params[k]*forecast_values[k]
        ret_data[k] = res.params[k]
    ret_data['price'] = price
    ret_data['current_price'] = curr_price
    ret_data['percent'] = (price/curr_price-1)*100
    ret_data['code'] = code
    return ret_data
    
r = get_reg('PYPL', 317.2, colums_for_X, scenarios_dict['base'], df5)
r

CPU times: user 8.67 ms, sys: 0 ns, total: 8.67 ms
Wall time: 8.23 ms

{'RU_RATE': -13.299275536162453,
 '10Y_USD': -11.566458194270256,
 'RU_CPI': 10.242899532908528,
 'IMOEX': -0.031652027766012884,
 'USDRUB': 0.7279136108715067,
 'SPX': 0.11607738834454204,
 'RUCBITR': -0.29133395259790884,
 'price': 328.415842630635,
 'current_price': 317.2,
 'percent': 3.5358898583338627,
 'code': 'PYPL'}

In [29]:
# получаем массив 
tkrs = tickers_data.copy()
tkrs['date'] = pd.to_datetime(tkrs['date']).dt.normalize()
tkrs_gb = tkrs[tkrs.groupby('code').date.transform('max') == tkrs['date']]
tkrs_gb

                  source     code       date         price
1114           naufor.ru      299 2021-09-02     74.600000
2226           naufor.ru       60 2021-09-02   4904.180000
3344           naufor.ru     2746 2021-09-02   1961.500000
3963           naufor.ru     4017 2021-09-02   1272.790000
5078           naufor.ru     2880 2021-09-02     17.680000
6190           naufor.ru      651 2021-09-02    228.810000
7211           naufor.ru     3830 2021-09-02  37606.130000
8325           naufor.ru      662 2021-09-02  40245.770000
9434           naufor.ru      525 2021-09-02   6620.230000
10544          naufor.ru       63 2021-09-02   5978.550000
11660          naufor.ru     2322 2021-09-02   5333.390000
12613          naufor.ru     3823 2021-09-02  34271.450000
13553          naufor.ru     4394 2021-09-02  13738.610000
14666          naufor.ru       66 2021-09-02   1149.220000
15778          naufor.ru      606 2021-09-02    836.070000
16891          naufor.ru      256 2021-09-02   9322.050000
18065  finance.yahoo.com  GAZP.ME 2021-09-03    317.709991
19239  finance.yahoo.com  GMKN.ME 2021-09-03  24392.000000
20413  finance.yahoo.com  LKOH.ME 2021-09-03   6344.500000
21587  finance.yahoo.com  MGNT.ME 2021-09-03   5502.000000
22760  finance.yahoo.com  MTSS.ME 2021-09-03    329.250000
23934  finance.yahoo.com  NLMK.ME 2021-09-03    246.080002
25107  finance.yahoo.com  NVTK.ME 2021-09-03   1842.800049
26280  finance.yahoo.com  PLZL.ME 2021-09-03  13582.000000
27453  finance.yahoo.com  ROSN.ME 2021-09-03    556.099976
28627  finance.yahoo.com  SBER.ME 2021-09-03    330.079987
29801  finance.yahoo.com  SNGS.ME 2021-09-03     33.755001
30974  finance.yahoo.com  TATN.ME 2021-09-03    489.799988
32151  finance.yahoo.com     AAPL 2021-09-03    154.300003
33328  finance.yahoo.com     MSFT 2021-09-03    301.140015
34505  finance.yahoo.com     GOOG 2021-09-03   2895.500000
35682  finance.yahoo.com     AMZN 2021-09-03   3478.050049
36859  finance.yahoo.com       FB 2021-09-03    376.260010
38036  finance.yahoo.com     TSLA 2021-09-03    733.570007
39213  finance.yahoo.com     NVDA 2021-09-03    228.429993
40390  finance.yahoo.com        V 2021-09-03    225.110001
41567  finance.yahoo.com      JPM 2021-09-03    159.490005
42744  finance.yahoo.com      JNJ 2021-09-03    175.039993
43921  finance.yahoo.com      WMT 2021-09-03    149.250000
45098  finance.yahoo.com      UNH 2021-09-03    422.859985
46275  finance.yahoo.com       MA 2021-09-03    340.230011
47452  finance.yahoo.com       HD 2021-09-03    330.339996
48629  finance.yahoo.com       PG 2021-09-03    144.050003
49806  finance.yahoo.com      BAC 2021-09-03     41.049999
50983  finance.yahoo.com     PYPL 2021-09-03    289.130005
52160  finance.yahoo.com      DIS 2021-09-03    181.000000
53337  finance.yahoo.com     ADBE 2021-09-03    666.590027
54514  finance.yahoo.com      NKE 2021-09-03    163.289993
55691  finance.yahoo.com    CMCSA 2021-09-03     61.720001
56868  finance.yahoo.com      LLY 2021-09-03    259.529999
58045  finance.yahoo.com      PFE 2021-09-03     46.840000
59222  finance.yahoo.com     ORCL 2021-09-03     90.000000
60399  finance.yahoo.com       KO 2021-09-03     56.730000
61576  finance.yahoo.com      XOM 2021-09-03     54.869999
62753  finance.yahoo.com     CSCO 2021-09-03     59.419998

In [30]:
%%time
save_all_data = []
for i, row in tkrs_gb.iterrows():
    for scenario in scenarios_name_list:
        res = get_reg(row['code'], row['price'], colums_for_X, scenarios_dict[scenario], df5)
        res['scenario'] = scenario
        res['current_price_date'] = row['date'].strftime('%Y-%m-%d')
        save_all_data.append(res)

CPU times: user 1.03 s, sys: 3.88 ms, total: 1.04 s
Wall time: 1.04 s

In [31]:
print(os.environ['DATABASE_URL'])
engine = sa.create_engine(os.environ['DATABASE_URL'])
save_df = pd.DataFrame(save_all_data)
#врезка которуюб надо убрать когда Дима придет TODO/ Надо отсавить поле RUCBITR
# save_df2 = save_df.drop(columns={'RUCBITR'})
save_df.to_sql(con=engine, name='predictors', if_exists='replace', index=False)
save_df

postgresql://accenture_ft:accenture_ft_secret_pwsd@postgres/main

,RU_RATE,10Y_USD,RU_CPI,IMOEX,USDRUB,SPX,RUCBITR,price,current_price,percent,code,scenario,current_price_date
0,0.000364,0.203865,0.130899,0.001480,0.073538,-0.000570,0.140541,75.493001,74.600000,1.197053,299,negative,2021-09-02
1,0.000364,0.203865,0.130899,0.001480,0.073538,-0.000570,0.140541,81.020530,74.600000,8.606608,299,positive,2021-09-02
2,0.000364,0.203865,0.130899,0.001480,0.073538,-0.000570,0.140541,80.822263,74.600000,8.340835,299,base,2021-09-02
3,13.718796,0.318712,-6.750806,-0.016948,-3.020143,0.022211,10.929831,4836.284304,4904.180000,-1.384445,60,negative,2021-09-02
4,13.718796,0.318712,-6.750806,-0.016948,-3.020143,0.022211,10.929831,5360.359652,4904.180000,9.301854,60,positive,2021-09-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,4.729698,13.404967,0.527763,-0.006666,-0.842326,0.003596,0.174069,59.125546,54.869999,7.755690,XOM,positive,2021-09-03
161,4.729698,13.404967,0.527763,-0.006666,-0.842326,0.003596,0.174069,61.794939,54.869999,12.620630,XOM,base,2021-09-03
162,-0.955688,6.159659,1.363548,0.016633,-0.305127,-0.011032,0.108381,63.679116,59.419998,7.167819,CSCO,negative,2021-09-03
163,-0.955688,6.159659,1.363548,0.016633,-0.305127,-0.011032,0.108381,66.376505,59.419998,11.707349,CSCO,positive,2021-09-03
164,-0.955688,6.159659,1.363548,0.016633,-0.305127,-0.011032,0.108381,65.349521,59.419998,9.979002,CSCO,base,2021-09-03

In [32]:
#save_df.dtypes
save_df.to_excel('forecasts.xlsx')

In [33]:
#Готовим данные по изменению вложений
pcntdf = all_df2.copy().reset_index()

groups_codes = list(set(pcntdf['code'].to_numpy().tolist()))

res = pd.DataFrame([])

for code in groups_codes:
    pcntdf_WITH_CODE = pcntdf[pcntdf['code']==code].sort_values('date')
    pcntdf_WITH_CODE['pct'] = pcntdf_WITH_CODE.price.pct_change(1).fillna(0)
    res = res.append(pcntdf_WITH_CODE)
res

,index,source,code,date,price,month,quarter,year,pct
15779,15779,naufor.ru,256,2017-01-09,3732.220000,1,1,2017,0.000000
15780,15780,naufor.ru,256,2017-01-10,3772.670000,1,1,2017,0.010838
15781,15781,naufor.ru,256,2017-01-11,3740.970000,1,1,2017,-0.008403
15782,15782,naufor.ru,256,2017-01-12,3729.870000,1,1,2017,-0.002967
15783,15783,naufor.ru,256,2017-01-13,3701.040000,1,1,2017,-0.007729
...,...,...,...,...,...,...,...,...,...
23930,23930,finance.yahoo.com,NLMK.ME,2021-08-30,250.720001,8,3,2021,0.022095
23931,23931,finance.yahoo.com,NLMK.ME,2021-08-31,247.000000,8,3,2021,-0.014837
23932,23932,finance.yahoo.com,NLMK.ME,2021-09-01,245.440002,9,3,2021,-0.006316
23933,23933,finance.yahoo.com,NLMK.ME,2021-09-02,246.240005,9,3,2021,0.003259
23934,23934,finance.yahoo.com,NLMK.ME,2021-09-03,246.080002,9,3,2021,-0.000650

In [34]:
#Считаем доходность за 1 год
date1yago = datetime.datetime(2021, 9, 3) - datetime.timedelta(days=1*365)
res['100pct'] = res['pct'] + 1
res_1y = res[res['date'] >= date1yago].groupby('code', as_index=False).prod()
res_1y['value'] = (res_1y['100pct'] - 1)*100
res_1y['field'] = '1y_return'
ret = res_1y[['code','field','value']]

In [35]:
#Считаем волатильность за 6 мес
vol_1y = res[res['date'] >= date1yago].groupby('code', as_index=False).std()
vol_1y['value'] = (vol_1y['pct'] * math.sqrt(252))*100
vol_1y['field'] = 'volatility'
vol = vol_1y[['code','field','value']]

In [36]:
vol_ret_table = ret.append(vol)
vol_ret_table

      code       field      value
0       60   1y_return   3.783603
1       63   1y_return  11.902961
2       66   1y_return  55.917348
3      256   1y_return  48.638155
4      299   1y_return   4.364857
..     ...         ...        ...
57     UNH  volatility  22.294432
58  USDRUB  volatility  11.300638
59       V  volatility  23.102503
60     WMT  volatility  17.071625
61     XOM  volatility  36.383740

[124 rows x 3 columns]

In [37]:
#Сохраняем в базу vol_ret_table
vol_ret_table.to_sql(con=engine, name='vol_ret_table', if_exists='replace', index=False)

In [ ]:
#Создаем альтернативную модель