In [1]:
!pip install statsmodels

Requirement already satisfied: statsmodels in /usr/local/lib/python3.7/site-packages (0.12.2)
Requirement already satisfied: scipy>=1.1 in /usr/local/lib/python3.7/site-packages (from statsmodels) (1.7.1)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.7/site-packages (from statsmodels) (0.5.1)
Requirement already satisfied: pandas>=0.21 in /usr/local/lib/python3.7/site-packages (from statsmodels) (1.3.2)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/site-packages (from statsmodels) (1.21.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/site-packages (from pandas>=0.21->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/site-packages (from pandas>=0.21->statsmodels) (2021.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/site-packages (from patsy>=0.5->statsmodels) (1.16.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [2]:
import pandas as pd
import statsmodels.api as sm
import sqlalchemy as sa
import os

In [3]:
source_file = "data.xlsx" # исходник данных для получения universe
tickers_file = 'tickers_prices.xlsx'

In [4]:
main_data = pd.read_excel(source_file, index_col=None, engine="openpyxl", parse_dates=True, sheet_name = "rates_history")
tickers_data = pd.read_excel(tickers_file, index_col=None, engine="openpyxl", parse_dates=True)
scenarios_data = pd.read_excel(source_file, index_col=None, engine="openpyxl", parse_dates=True, sheet_name = "scenario")

In [5]:
all_df = tickers_data.append(main_data)
all_df['date']=all_df['date'].astype(str)
all_df

          source     code                 date        price
0      naufor.ru      299           2003-03-13    10.000000
1      naufor.ru      299           2003-03-14    10.000000
2      naufor.ru      299           2003-03-18    10.000000
3      naufor.ru      299           2003-03-19    10.000000
4      naufor.ru      299           2003-03-20    10.000000
...          ...      ...                  ...          ...
15506        NaN   USDRUB  2021-09-03 00:00:00    72.849100
15507        NaN  RU_RATE  2021-09-03 00:00:00     6.500000
15508        NaN    IMOEX  2021-09-03 00:00:00  4001.699951
15509        NaN      SPX  2021-09-03 00:00:00  4535.430176
15510        NaN   USDRUB  2021-09-04 00:00:00    72.854500

[136512 rows x 4 columns]

In [6]:
#добавляем доп информацию по периодам
all_df2 = all_df.copy()
all_df2['date'] = pd.to_datetime(all_df2['date']).dt.normalize()
all_df2['month'] = all_df2['date'].dt.month
all_df2['quarter'] = all_df2['date'].dt.quarter
all_df2['year'] = all_df2['date'].dt.year

all_df2

          source     code       date        price  month  quarter  year
0      naufor.ru      299 2003-03-13    10.000000      3        1  2003
1      naufor.ru      299 2003-03-14    10.000000      3        1  2003
2      naufor.ru      299 2003-03-18    10.000000      3        1  2003
3      naufor.ru      299 2003-03-19    10.000000      3        1  2003
4      naufor.ru      299 2003-03-20    10.000000      3        1  2003
...          ...      ...        ...          ...    ...      ...   ...
15506        NaN   USDRUB 2021-09-03    72.849100      9        3  2021
15507        NaN  RU_RATE 2021-09-03     6.500000      9        3  2021
15508        NaN    IMOEX 2021-09-03  4001.699951      9        3  2021
15509        NaN      SPX 2021-09-03  4535.430176      9        3  2021
15510        NaN   USDRUB 2021-09-04    72.854500      9        3  2021

[136512 rows x 7 columns]

In [7]:
#группируем по месяцам и году с последний известным днем и значением
all_df3 = all_df2.groupby(['code','year','month'], as_index= False).nth(-1)

In [8]:
df3 = pd.pivot_table(all_df3, values='price', index=['year','month'], columns=['code'], aggfunc='last')
df3

code             60       63       66     107      256    299      525  \
year month
2001 1          NaN      NaN      NaN     NaN      NaN    NaN      NaN
     2          NaN      NaN      NaN     NaN      NaN    NaN      NaN
     3          NaN      NaN      NaN     NaN      NaN    NaN      NaN
     4          NaN      NaN      NaN     NaN      NaN    NaN      NaN
     5          NaN      NaN      NaN     NaN      NaN    NaN      NaN
...             ...      ...      ...     ...      ...    ...      ...
2021 5      4827.97  5779.27  1028.02  442.13  8470.20  73.79  6531.13
     6      4847.67  5954.35  1077.47  460.21  8429.36  73.94  6448.88
     7      4875.02  5843.26  1106.69  453.18  8687.77  74.52  6535.32
     8      4900.58  5951.52  1139.08  475.92  9176.56  74.67  6636.33
     9      4904.18  5978.55  1149.22  483.15  9322.05  74.60  6620.23

code           606     651       662  ...     SBER.ME    SNGS.ME          SPX  \
year month                            ...
2001 1         NaN     NaN       NaN  ...         NaN        NaN  1366.010010
     2         NaN     NaN       NaN  ...         NaN        NaN  1239.939941
     3         NaN     NaN       NaN  ...         NaN        NaN  1160.329956
     4         NaN     NaN       NaN  ...         NaN        NaN  1249.459961
     5         NaN     NaN       NaN  ...         NaN        NaN  1255.819946
...            ...     ...       ...  ...         ...        ...          ...
2021 5      758.91  228.64  39768.85  ...  310.390015  36.310001  4204.109863
     6      767.93  225.21  39734.28  ...  305.549988  36.715000  4297.500000
     7      781.48  228.11  40098.68  ...  306.040009  32.490002  4395.259766
     8      830.07  229.95  40259.89  ...  328.140015  33.799999  4522.680176
     9      836.07  228.81  40245.77  ...  330.489990  33.799999  4535.430176

code           TATN.ME        TSLA         UNH   USDRUB           V  \
year month
2001 1             NaN         NaN         NaN      NaN         NaN
     2             NaN         NaN         NaN      NaN         NaN
     3             NaN         NaN         NaN      NaN         NaN
     4             NaN         NaN         NaN      NaN         NaN
     5             NaN         NaN         NaN      NaN         NaN
...                ...         ...         ...      ...         ...
2021 5      499.200012  625.219971  411.920013  73.5870  227.300003
     6      532.700012  679.700012  400.440002  72.3723  233.820007
     7      488.600006  687.200012  412.220001  73.1388  246.389999
     8      485.200012  735.719971  416.269989  73.5744  229.100006
     9      490.500000  733.570007  422.859985  72.8545  225.110001

code               WMT        XOM
year month
2001 1             NaN        NaN
     2             NaN        NaN
     3             NaN        NaN
     4             NaN        NaN
     5             NaN        NaN
...                ...        ...
2021 5      142.029999  58.369999
     6      141.020004  63.080002
     7      142.550003  57.570000
     8      148.100006  54.520000
     9      149.250000  54.869999

[249 rows x 62 columns]

In [9]:
df4 = df3.copy().reset_index()
df4 = df4[df4['year'] >= 2014]
df4

code,year,month,60,63,66,107,256,299,525,606,...,SBER.ME,SNGS.ME,SPX,TATN.ME,TSLA,UNH,USDRUB,V,WMT,XOM
156,2014,1,2621.25,1470.85,181.99,1337.95,2358.74,35.81,2228.69,278.17,...,94.800003,27.000000,1782.589966,194.449997,36.282001,72.279999,35.2448,53.857498,74.680000,92.160004
157,2014,2,2633.77,1540.56,178.17,1329.30,2326.91,35.99,2232.08,274.60,...,91.099998,27.611000,1859.449951,211.190002,48.962002,77.269997,36.0501,56.485001,74.699997,96.269997
158,2014,3,2599.77,1498.78,166.87,1231.60,2170.67,35.06,2213.14,252.56,...,83.800003,25.854000,1872.339966,200.000000,41.689999,81.989998,35.6871,53.965000,76.430000,97.680000
159,2014,4,2582.28,1472.17,161.72,1192.11,2082.48,34.83,2208.36,245.93,...,72.500000,24.900000,1883.949951,203.389999,41.577999,75.040001,35.6983,50.652500,79.709999,102.410004
160,2014,5,2599.52,1492.10,180.73,1312.22,2281.67,35.99,2234.33,265.19,...,84.500000,25.089001,1923.569946,202.100006,41.554001,79.629997,34.7352,53.707500,76.769997,100.529999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,2021,5,4827.97,5779.27,1028.02,442.13,8470.20,73.79,6531.13,758.91,...,310.390015,36.310001,4204.109863,499.200012,625.219971,411.920013,73.5870,227.300003,142.029999,58.369999
245,2021,6,4847.67,5954.35,1077.47,460.21,8429.36,73.94,6448.88,767.93,...,305.549988,36.715000,4297.500000,532.700012,679.700012,400.440002,72.3723,233.820007,141.020004,63.080002
246,2021,7,4875.02,5843.26,1106.69,453.18,8687.77,74.52,6535.32,781.48,...,306.040009,32.490002,4395.259766,488.600006,687.200012,412.220001,73.1388,246.389999,142.550003,57.570000
247,2021,8,4900.58,5951.52,1139.08,475.92,9176.56,74.67,6636.33,830.07,...,328.140015,33.799999,4522.680176,485.200012,735.719971,416.269989,73.5744,229.100006,148.100006,54.520000
248,2021,9,4904.18,5978.55,1149.22,483.15,9322.05,74.60,6620.23,836.07,...,330.489990,33.799999,4535.430176,490.500000,733.570007,422.859985,72.8545,225.110001,149.250000,54.869999

In [10]:
# получаем карту значений сценария
scenarios_dict = {}
scenarios_name_list = list(set(scenarios_data['scenario'].to_numpy().tolist()))
for scenario in scenarios_name_list:
    if scenario not in scenarios_dict:
        scenarios_dict[scenario] = {}
    sc = scenarios_data[scenarios_data['scenario']==scenario].to_dict('records')
    for row in sc:
        scenarios_dict[scenario][row['rate']] = row['forecast_value']
        
scenarios_dict

{'base': {'RU_RATE': 5.5,
  '10Y_USD': 1.4,
  'RU_CPI': 4.5,
  'IMOEX': 5457.3640000000005,
  'USDRUB': 70.2,
  'SPX': 5953.645834000001}}

In [11]:
# дополняем не известные значения последними известными
df5 = df4.copy()
df5 = df5.fillna(method='ffill')
df5['RU_CPI']

156    6.05
157    6.20
158    6.92
159    7.33
160    7.59
       ...
244    6.01
245    6.51
246    6.47
247    6.47
248    6.47
Name: RU_CPI, Length: 93, dtype: float64

In [12]:
%%time
#Регрессия
colums_for_X = ['RU_RATE','10Y_USD', 'RU_CPI', 'IMOEX', 'USDRUB', 'SPX']

def get_reg(code, curr_price, colums_for_X, forecast_values, data_frame):
    mod = sm.OLS(data_frame[code], data_frame[colums_for_X])
    res = mod.fit()
#     print(res.summary())
    price = 0
    ret_data = {}
    for k in res.params.keys().tolist():
        price += res.params[k]*forecast_values[k]
        ret_data[k] = res.params[k]
    ret_data['price'] = price
    ret_data['current_price'] = curr_price
    ret_data['percent'] = (price/curr_price-1)*100
    ret_data['code'] = code
    return ret_data
    
r = get_reg('GAZP.ME', 317.2, colums_for_X, scenarios_dict['base'], df5)
r

CPU times: user 8.11 ms, sys: 19 µs, total: 8.13 ms
Wall time: 10.5 ms

{'RU_RATE': 2.973461014421526,
 '10Y_USD': 1.867330726570577,
 'RU_CPI': 3.4398318068846985,
 'IMOEX': 0.13997436018339357,
 'USDRUB': -1.6674214657623834,
 'SPX': -0.03784943659210233,
 'price': 455.94344853304733,
 'current_price': 317.2,
 'percent': 43.74005313147773,
 'code': 'GAZP.ME'}

In [13]:
# получаем массив 
tkrs = tickers_data.copy()
tkrs['date'] = pd.to_datetime(tkrs['date']).dt.normalize()
tkrs_gb = tkrs[tkrs.groupby('code').date.transform('max') == tkrs['date']]
tkrs_gb

                   source     code       date         price
3870            naufor.ru      299 2021-09-02     74.600000
7745            naufor.ru       60 2021-09-02   4904.180000
9626            naufor.ru     2746 2021-09-02   1961.500000
10245           naufor.ru     4017 2021-09-02   1272.790000
12015           naufor.ru     2880 2021-09-02     17.680000
15735           naufor.ru      651 2021-09-02    228.810000
16756           naufor.ru     3830 2021-09-02  37606.130000
20679           naufor.ru      662 2021-09-02  40245.770000
24031           naufor.ru      525 2021-09-02   6620.230000
27166           naufor.ru       63 2021-09-02   5978.550000
29363           naufor.ru     2322 2021-09-02   5333.390000
30316           naufor.ru     3823 2021-09-02  34271.450000
31256           naufor.ru     4394 2021-09-02  13738.610000
35084           naufor.ru       66 2021-09-02   1149.220000
38971           naufor.ru      606 2021-09-02    836.070000
42566           naufor.ru      256 2021-09-02   9322.050000
46112           naufor.ru      107 2021-09-02    483.150000
48036   finance.yahoo.com  GAZP.ME 2021-09-03    317.899994
49960   finance.yahoo.com  GMKN.ME 2021-09-03  24420.000000
51884   finance.yahoo.com  LKOH.ME 2021-09-03   6348.000000
53808   finance.yahoo.com  MGNT.ME 2021-09-03   5511.500000
55723   finance.yahoo.com  MTSS.ME 2021-09-03    329.149994
57647   finance.yahoo.com  NLMK.ME 2021-09-03    246.479996
59570   finance.yahoo.com  NVTK.ME 2021-09-03   1844.400024
61493   finance.yahoo.com  PLZL.ME 2021-09-03  13599.500000
63416   finance.yahoo.com  ROSN.ME 2021-09-03    556.500000
65340   finance.yahoo.com  SBER.ME 2021-09-03    330.489990
67264   finance.yahoo.com  SNGS.ME 2021-09-03     33.799999
69187   finance.yahoo.com  TATN.ME 2021-09-03    490.500000
71120   finance.yahoo.com     AAPL 2021-09-03    154.300003
73053   finance.yahoo.com     MSFT 2021-09-03    301.140015
74986   finance.yahoo.com     GOOG 2021-09-03   2895.500000
76919   finance.yahoo.com     AMZN 2021-09-03   3478.050049
78852   finance.yahoo.com       FB 2021-09-03    376.260010
80785   finance.yahoo.com     TSLA 2021-09-03    733.570007
82718   finance.yahoo.com     NVDA 2021-09-03    228.429993
84651   finance.yahoo.com        V 2021-09-03    225.110001
86584   finance.yahoo.com      JPM 2021-09-03    159.490005
88517   finance.yahoo.com      JNJ 2021-09-03    175.039993
90450   finance.yahoo.com      WMT 2021-09-03    149.250000
92383   finance.yahoo.com      UNH 2021-09-03    422.859985
94316   finance.yahoo.com       MA 2021-09-03    340.230011
96249   finance.yahoo.com       HD 2021-09-03    330.339996
98182   finance.yahoo.com       PG 2021-09-03    144.050003
100115  finance.yahoo.com      BAC 2021-09-03     41.049999
101670  finance.yahoo.com     PYPL 2021-09-03    289.130005
103603  finance.yahoo.com      DIS 2021-09-03    181.000000
105536  finance.yahoo.com     ADBE 2021-09-03    666.590027
107469  finance.yahoo.com      NKE 2021-09-03    163.289993
109402  finance.yahoo.com    CMCSA 2021-09-03     61.720001
111335  finance.yahoo.com      LLY 2021-09-03    259.529999
113268  finance.yahoo.com      PFE 2021-09-03     46.840000
115201  finance.yahoo.com     ORCL 2021-09-03     90.000000
117134  finance.yahoo.com       KO 2021-09-03     56.730000
119067  finance.yahoo.com      XOM 2021-09-03     54.869999
121000  finance.yahoo.com     CSCO 2021-09-03     59.419998

In [14]:
%%time
save_all_data = []
for i, row in tkrs_gb.iterrows():
    for scenario in scenarios_name_list:
        res = get_reg(row['code'], row['price'], colums_for_X, scenarios_dict[scenario], df5)
        res['scenario'] = scenario
        res['current_price_date'] = row['date'].strftime('%Y-%m-%d')
        save_all_data.append(res)

CPU times: user 225 ms, sys: 0 ns, total: 225 ms
Wall time: 224 ms

In [15]:
print(os.environ['DATABASE_URL'])
engine = sa.create_engine(os.environ['DATABASE_URL'])
save_df = pd.DataFrame(save_all_data)
save_df.to_sql(con=engine, name='predictors', if_exists='replace', index=False)
save_df

postgresql://accenture_ft:accenture_ft_secret_pwsd@postgres/main

,RU_RATE,10Y_USD,RU_CPI,IMOEX,USDRUB,SPX,price,current_price,percent,code,scenario,current_price_date
0,-0.341374,2.060655,-0.740621,0.004609,0.453496,0.007342,98.374105,74.600000,31.868774,299,base,2021-09-02
1,-9.994762,151.197156,-50.119489,0.145332,28.046224,0.639400,6499.905758,4904.180000,32.538075,60,base,2021-09-02
2,0.921855,68.017169,-19.595172,0.035315,12.874094,0.240801,2542.247737,1961.500000,29.607328,2746,base,2021-09-02
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1272.790000,NaN,4017,base,2021-09-02
4,-0.169026,-0.359202,-0.123560,0.001286,0.189297,0.000216,19.600730,17.680000,10.863855,2880,base,2021-09-02
5,-2.865567,1.517558,-1.403351,-0.005924,1.815046,0.035232,284.897195,228.810000,24.512563,651,base,2021-09-02
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37606.130000,NaN,3830,base,2021-09-02
7,-248.465444,1708.406275,-262.466814,-0.301829,239.565969,6.313116,52600.506609,40245.770000,30.698224,662,base,2021-09-02
8,-83.419642,-230.153728,12.509511,0.180003,51.546713,0.643096,7704.957741,6620.230000,16.385046,525,base,2021-09-02
9,-119.401817,-332.344653,17.467353,-0.860596,26.860583,1.851483,7168.712468,5978.550000,19.907209,63,base,2021-09-02
10,-110.253730,-210.149188,8.394534,-0.824772,30.663986,1.598880,6307.867149,5333.390000,18.271252,2322,base,2021-09-02
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34271.450000,NaN,3823,base,2021-09-02
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13738.610000,NaN,4394,base,2021-09-02
13,-9.410141,-25.147814,-6.743112,0.248496,-1.526616,0.075264,1579.755273,1149.220000,37.463260,66,base,2021-09-02
14,-0.713871,1.603417,-1.291761,0.206229,-0.943059,0.015912,1146.500347,836.070000,37.129708,606,base,2021-09-02
15,-77.319406,-354.165188,43.912775,1.632904,-9.397516,0.823993,12433.925947,9322.050000,33.381884,256,base,2021-09-02
16,61.337303,803.322379,-60.658821,0.390633,17.257425,-0.820644,-353.487369,483.150000,-173.163069,107,base,2021-09-02
17,2.973461,1.867331,3.439832,0.139974,-1.667421,-0.037849,455.943449,317.899994,43.423547,GAZP.ME,base,2021-09-03
18,-270.088303,-1849.420646,232.084379,4.954388,15.597801,1.959710,36769.988027,24420.000000,50.573252,GMKN.ME,base,2021-09-03
19,-34.790727,233.221282,-14.894614,3.529389,-6.583628,-1.457001,10192.657016,6348.000000,60.564855,LKOH.ME,base,2021-09-03
20,486.423434,197.189727,242.226686,-4.766160,48.144844,3.421111,1778.595715,5511.500000,-67.729371,MGNT.ME,base,2021-09-03
21,1.348131,20.317382,-0.378225,-0.045927,0.892736,0.101962,453.233227,329.149994,37.698082,MTSS.ME,base,2021-09-03
22,-2.466275,2.466335,-1.754633,0.024049,0.166042,0.033907,326.759882,246.479996,32.570548,NLMK.ME,base,2021-09-03
23,-15.899774,31.724794,6.043100,0.884302,-2.713369,-0.363309,2456.625894,1844.400024,33.193768,NVTK.ME,base,2021-09-03
24,-447.401761,-2444.377291,-32.053341,-2.293356,124.094272,4.615653,17648.629840,13599.500000,29.774108,PLZL.ME,base,2021-09-03
25,-0.540928,36.156331,-1.381975,0.222438,-0.132927,-0.077995,781.663177,556.500000,40.460589,ROSN.ME,base,2021-09-03
26,0.508623,9.919190,-6.094835,0.096896,-0.400323,-0.002237,476.630950,330.489990,44.219482,SBER.ME,base,2021-09-03
27,0.478936,0.417051,0.425489,0.006386,0.216201,-0.001606,45.600295,33.799999,34.912119,SNGS.ME,base,2021-09-03
28,-12.485997,125.525920,-11.382553,0.464941,3.585334,-0.336050,844.156774,490.500000,72.101279,TATN.ME,base,2021-09-03
29,-3.046660,-15.840263,1.285455,-0.022343,-0.029687,0.058690,192.256207,154.300003,24.598965,AAPL,base,2021-09-03
30,-5.511062,-24.118132,1.157351,0.014830,-0.161357,0.064759,396.290489,301.140015,31.596756,MSFT,base,2021-09-03
31,-21.536975,-113.941512,4.284531,0.141224,-5.831810,0.570678,3500.243666,2895.500000,20.885639,GOOG,base,2021-09-03
32,-127.296389,-234.507770,-2.858810,-0.202894,15.772492,0.932399,4509.828181,3478.050049,29.665419,AMZN,base,2021-09-03
33,-1.073050,-22.207210,-2.748934,-0.015255,0.172213,0.097847,462.024428,376.260010,22.793923,FB,base,2021-09-03
34,-24.235449,-101.459690,16.239614,-0.188287,-1.881031,0.376964,882.450145,733.570007,20.295287,TSLA,base,2021-09-03
35,-3.395125,-21.223285,-0.172380,-0.032250,-0.438131,0.084684,248.262621,228.429993,8.682147,NVDA,base,2021-09-03
36,-3.927465,-7.400203,-0.561840,0.041907,0.404275,0.020552,344.953720,225.110001,53.237848,V,base,2021-09-03
37,0.073159,7.887071,-0.974993,0.036996,-0.423521,0.009536,235.999915,159.490005,47.971602,JPM,base,2021-09-03
38,1.903462,4.334834,-1.760945,-0.016768,0.537104,0.044482,219.639074,175.039993,25.479366,JNJ,base,2021-09-03
39,-0.409770,-3.737705,0.053172,-0.017911,0.225240,0.049661,206.486200,149.250000,38.349213,WMT,base,2021-09-03
40,-5.339084,-7.531860,-2.960204,0.028801,0.729310,0.066515,551.152211,422.859985,30.339174,UNH,base,2021-09-03
41,-9.421455,-14.391979,0.604272,0.071575,0.467828,0.035324,564.510303,340.230011,65.920197,MA,base,2021-09-03
42,-2.896479,-12.222392,-1.286075,0.006793,0.795592,0.063601,432.753965,330.339996,31.002594,HD,base,2021-09-03
43,1.185796,-4.806719,0.071135,-0.002837,0.219370,0.033648,200.357781,144.050003,39.089050,PG,base,2021-09-03
44,0.074591,2.840474,-0.317725,0.007701,-0.154742,0.004509,60.967273,41.049999,48.519548,BAC,base,2021-09-03
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,289.130005,NaN,PYPL,base,2021-09-03
46,-0.125500,2.522986,2.240692,0.031696,-0.230906,0.014824,257.952017,181.000000,42.514927,DIS,base,2021-09-03
47,-14.009792,-48.750137,0.996679,0.015466,0.017973,0.149825,836.850900,666.590027,25.542067,ADBE,base,2021-09-03
48,-3.033952,-6.358195,1.619446,0.009750,0.228970,0.025246,201.290746,163.289993,23.271942,NKE,base,2021-09-03
49,0.656085,-0.255596,-0.220257,0.003224,-0.044674,0.011010,82.265062,61.720001,33.287525,CMCSA,base,2021-09-03
50,-2.719850,-11.861397,2.558871,0.026440,-0.212203,0.033604,309.409995,259.529999,19.219357,LLY,base,2021-09-03
51,0.236638,3.866849,0.048745,0.002352,0.123475,0.004116,52.946124,46.840000,13.036132,PFE,base,2021-09-03
52,0.896023,-0.664432,0.069248,-0.002793,-0.201549,0.023224,113.181291,90.000000,25.756990,ORCL,base,2021-09-03
53,0.933195,2.865286,-0.121722,0.003096,0.117005,0.007037,75.602479,56.730000,33.267196,KO,base,2021-09-03
54,4.178038,18.398199,-0.152337,-0.004760,-0.203827,0.010460,70.040683,54.869999,27.648413,XOM,base,2021-09-03
55,0.104034,3.598869,-0.353621,0.017338,-0.018985,-0.002500,82.423595,59.419998,38.713560,CSCO,base,2021-09-03

In [16]:
save_df.dtypes

RU_RATE               float64
10Y_USD               float64
RU_CPI                float64
IMOEX                 float64
USDRUB                float64
SPX                   float64
price                 float64
current_price         float64
percent               float64
code                   object
scenario               object
current_price_date     object
dtype: object