In [1]:
#!pip install statsmodels

In [2]:
import pandas as pd
import statsmodels.api as sm
import sqlalchemy as sa
import os

# Параметры запуска

In [3]:
source_file = "data.xlsx" # исходник данных для получения universe
tickers_file = 'tickers_prices.xlsx' # файл для котировок

In [4]:
main_data = pd.read_excel(source_file, index_col=None, engine="openpyxl", parse_dates=True, sheet_name = "rates_history")
tickers_data = pd.read_excel(tickers_file, index_col=None, engine="openpyxl", parse_dates=True)
scenarios_data = pd.read_excel(source_file, index_col=None, engine="openpyxl", parse_dates=True, sheet_name = "scenario")

In [5]:
all_df = tickers_data.append(main_data)
all_df['date']=all_df['date'].astype(str)
all_df

          source     code                 date        price
0      naufor.ru      299           2003-03-13    10.000000
1      naufor.ru      299           2003-03-14    10.000000
2      naufor.ru      299           2003-03-18    10.000000
3      naufor.ru      299           2003-03-19    10.000000
4      naufor.ru      299           2003-03-20    10.000000
...          ...      ...                  ...          ...
15506        NaN   USDRUB  2021-09-03 00:00:00    72.849100
15507        NaN  RU_RATE  2021-09-03 00:00:00     6.500000
15508        NaN    IMOEX  2021-09-03 00:00:00  4001.699951
15509        NaN      SPX  2021-09-03 00:00:00  4535.430176
15510        NaN   USDRUB  2021-09-04 00:00:00    72.854500

[102980 rows x 4 columns]

# Добавляем доп информацию по периодам

In [28]:
all_df2 = all_df.copy()
all_df2['date'] = pd.to_datetime(all_df2['date']).dt.normalize()
all_df2['month'] = all_df2['date'].dt.month
all_df2['quarter'] = all_df2['date'].dt.quarter
all_df2['year'] = all_df2['date'].dt.year

all_df2

          source     code       date        price  month  quarter  year
0      naufor.ru      299 2003-03-13    10.000000      3        1  2003
1      naufor.ru      299 2003-03-14    10.000000      3        1  2003
2      naufor.ru      299 2003-03-18    10.000000      3        1  2003
3      naufor.ru      299 2003-03-19    10.000000      3        1  2003
4      naufor.ru      299 2003-03-20    10.000000      3        1  2003
...          ...      ...        ...          ...    ...      ...   ...
15506        NaN   USDRUB 2021-09-03    72.849100      9        3  2021
15507        NaN  RU_RATE 2021-09-03     6.500000      9        3  2021
15508        NaN    IMOEX 2021-09-03  4001.699951      9        3  2021
15509        NaN      SPX 2021-09-03  4535.430176      9        3  2021
15510        NaN   USDRUB 2021-09-04    72.854500      9        3  2021

[102980 rows x 7 columns]

In [52]:
# Группируем по месяцам и году с последний известным днем и значением

all_df3 = all_df2.groupby(['code','year','month'], as_index= False).nth(-1)

In [8]:
df3 = pd.pivot_table(all_df3, values='price', index=['year','month'], columns=['code'], aggfunc='last')
df3

code             60       63       66      256    299      525     606  \
year month
2001 1          NaN      NaN      NaN      NaN    NaN      NaN     NaN
     2          NaN      NaN      NaN      NaN    NaN      NaN     NaN
     3          NaN      NaN      NaN      NaN    NaN      NaN     NaN
     4          NaN      NaN      NaN      NaN    NaN      NaN     NaN
     5          NaN      NaN      NaN      NaN    NaN      NaN     NaN
...             ...      ...      ...      ...    ...      ...     ...
2021 5      4827.97  5779.27  1028.02  8470.20  73.79  6531.13  758.91
     6      4829.64  5739.49  1041.67  8612.76  73.77  6504.37  758.91
     7          NaN      NaN      NaN      NaN    NaN      NaN     NaN
     8          NaN      NaN      NaN      NaN    NaN      NaN     NaN
     9          NaN      NaN      NaN      NaN    NaN      NaN     NaN

code           651       662     2322  ...     SBER.ME    SNGS.ME  \
year month                             ...
2001 1         NaN       NaN      NaN  ...         NaN        NaN
     2         NaN       NaN      NaN  ...         NaN        NaN
     3         NaN       NaN      NaN  ...         NaN        NaN
     4         NaN       NaN      NaN  ...         NaN        NaN
     5         NaN       NaN      NaN  ...         NaN        NaN
...            ...       ...      ...  ...         ...        ...
2021 5      228.64  39768.85  5116.70  ...  310.390015  36.310001
     6      227.79  39772.31  5129.95  ...  305.549988  36.715000
     7         NaN       NaN      NaN  ...  306.040009  32.490002
     8         NaN       NaN      NaN  ...  328.140015  33.799999
     9         NaN       NaN      NaN  ...  330.079987  33.755001

code                SPX     TATN.ME        TSLA         UNH   USDRUB  \
year month
2001 1      1366.010010         NaN         NaN         NaN      NaN
     2      1239.939941         NaN         NaN         NaN      NaN
     3      1160.329956         NaN         NaN         NaN      NaN
     4      1249.459961         NaN         NaN         NaN      NaN
     5      1255.819946         NaN         NaN         NaN      NaN
...                 ...         ...         ...         ...      ...
2021 5      4204.109863  499.200012  625.219971  411.920013  73.5870
     6      4297.500000  532.700012  679.700012  400.440002  72.3723
     7      4395.259766  488.600006  687.200012  412.220001  73.1388
     8      4522.680176  485.200012  735.719971  416.269989  73.5744
     9      4535.430176  489.799988  733.570007  422.859985  72.8545

code                 V         WMT        XOM
year month
2001 1             NaN         NaN        NaN
     2             NaN         NaN        NaN
     3             NaN         NaN        NaN
     4             NaN         NaN        NaN
     5             NaN         NaN        NaN
...                ...         ...        ...
2021 5      227.300003  142.029999  58.369999
     6      233.820007  141.020004  63.080002
     7      246.389999  142.550003  57.570000
     8      229.100006  148.100006  54.520000
     9      225.110001  149.250000  54.869999

[249 rows x 61 columns]

In [9]:
df4 = df3.copy().reset_index()
df4 = df4[df4['year'] >= 2014]
# df4.to_excel('df4.xlsx', index=False)
df4

code,year,month,60,63,66,256,299,525,606,651,...,SBER.ME,SNGS.ME,SPX,TATN.ME,TSLA,UNH,USDRUB,V,WMT,XOM
156,2014,1,2621.25,1470.85,181.99,2358.74,35.81,2228.69,278.17,103.22,...,NaN,NaN,1782.589966,NaN,NaN,NaN,35.2448,NaN,NaN,NaN
157,2014,2,2633.77,1540.56,178.17,2326.91,35.99,2232.08,274.60,103.46,...,NaN,NaN,1859.449951,NaN,NaN,NaN,36.0501,NaN,NaN,NaN
158,2014,3,2599.77,1498.78,166.87,2170.67,35.06,2213.14,252.56,103.07,...,NaN,NaN,1872.339966,NaN,NaN,NaN,35.6871,NaN,NaN,NaN
159,2014,4,2582.28,1472.17,161.72,2082.48,34.83,2208.36,245.93,103.64,...,NaN,NaN,1883.949951,NaN,NaN,NaN,35.6983,NaN,NaN,NaN
160,2014,5,2599.52,1492.10,180.73,2281.67,35.99,2234.33,265.19,104.07,...,NaN,NaN,1923.569946,NaN,NaN,NaN,34.7352,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,2021,5,4827.97,5779.27,1028.02,8470.20,73.79,6531.13,758.91,228.64,...,310.390015,36.310001,4204.109863,499.200012,625.219971,411.920013,73.5870,227.300003,142.029999,58.369999
245,2021,6,4829.64,5739.49,1041.67,8612.76,73.77,6504.37,758.91,227.79,...,305.549988,36.715000,4297.500000,532.700012,679.700012,400.440002,72.3723,233.820007,141.020004,63.080002
246,2021,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,306.040009,32.490002,4395.259766,488.600006,687.200012,412.220001,73.1388,246.389999,142.550003,57.570000
247,2021,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,328.140015,33.799999,4522.680176,485.200012,735.719971,416.269989,73.5744,229.100006,148.100006,54.520000
248,2021,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,330.079987,33.755001,4535.430176,489.799988,733.570007,422.859985,72.8545,225.110001,149.250000,54.869999

# Формируем карту значений сценария

In [10]:
scenarios_dict = {}
scenarios_name_list = list(set(scenarios_data['scenario'].to_numpy().tolist()))
for scenario in scenarios_name_list:
    if scenario not in scenarios_dict:
        scenarios_dict[scenario] = {}
    sc = scenarios_data[scenarios_data['scenario']==scenario].to_dict('records')
    for row in sc:
        scenarios_dict[scenario][row['rate']] = row['forecast_value']
        
scenarios_dict

{'base': {'RU_RATE': 5.5,
  '10Y_USD': 1.4,
  'RU_CPI': 4.5,
  'IMOEX': 4934.566666666667,
  'USDRUB': 70.2,
  'SPX': 5366.913666666667},
 'positive': {'RU_RATE': 5.0,
  '10Y_USD': 1.4,
  'RU_CPI': 4.0,
  'IMOEX': 5401.35,
  'USDRUB': 69.2,
  'SPX': 5986.754400000001}}

In [11]:
# дополняем не известные значения последними известными
df5 = df4.copy()
df5 = df5.fillna(method='ffill')
df5['RU_CPI']

156    6.05
157    6.20
158    6.92
159    7.33
160    7.59
       ...
244    6.01
245    6.51
246    6.47
247    6.47
248    6.47
Name: RU_CPI, Length: 93, dtype: float64

In [12]:
%%time
#Регрессия
colums_for_X = ['RU_RATE','10Y_USD', 'RU_CPI', 'IMOEX', 'USDRUB', 'SPX']

def get_reg(code, curr_price, colums_for_X, forecast_values, data_frame):
    all_col = colums_for_X.copy()
    all_col.append(code)
    rt = data_frame[all_col].dropna()
    mod = sm.OLS(rt[code], rt[colums_for_X])
    res = mod.fit()
# #     print(res.summary())
    price = 0
    ret_data = {}
    for k in res.params.keys().tolist():
        price += res.params[k]*forecast_values[k]
        ret_data[k] = res.params[k]
    ret_data['price'] = price
    ret_data['current_price'] = curr_price
    ret_data['percent'] = (price/curr_price-1)*100
    ret_data['code'] = code
    return ret_data
    
r = get_reg('PYPL', 317.2, colums_for_X, scenarios_dict['base'], df5)
r

CPU times: user 12 ms, sys: 0 ns, total: 12 ms
Wall time: 10.8 ms

{'RU_RATE': -14.74273925418645,
 '10Y_USD': -9.524237605572061,
 'RU_CPI': 13.652456437723131,
 'IMOEX': -0.049307940111700435,
 'USDRUB': -0.3670352239917251,
 'SPX': 0.11487068670592035,
 'price': 314.4389234039043,
 'current_price': 317.2,
 'percent': -0.8704528991474336,
 'code': 'PYPL'}

In [13]:
# получаем массив 
tkrs = tickers_data.copy()
tkrs['date'] = pd.to_datetime(tkrs['date']).dt.normalize()
tkrs_gb = tkrs[tkrs.groupby('code').date.transform('max') == tkrs['date']]
tkrs_gb

                  source     code       date         price
3810           naufor.ru      299 2021-06-01     73.770000
7626           naufor.ru       60 2021-06-01   4829.640000
9447           naufor.ru     2746 2021-06-01   1954.160000
10006          naufor.ru     4017 2021-06-01   1266.560000
11716          naufor.ru     2880 2021-06-01     17.480000
15376          naufor.ru      651 2021-06-01    227.790000
16337          naufor.ru     3830 2021-06-01  37443.630000
20200          naufor.ru      662 2021-06-01  39772.310000
23492          naufor.ru      525 2021-06-01   6504.370000
26568          naufor.ru       63 2021-06-01   5739.490000
28705          naufor.ru     2322 2021-06-01   5129.950000
29599          naufor.ru     3823 2021-06-01  31921.560000
30479          naufor.ru     4394 2021-06-01  11616.490000
34247          naufor.ru       66 2021-06-01   1041.670000
38074          naufor.ru      606 2021-06-01    758.910000
41606          naufor.ru      256 2021-06-01   8612.760000
42780  finance.yahoo.com  GAZP.ME 2021-09-03    317.709991
43954  finance.yahoo.com  GMKN.ME 2021-09-03  24392.000000
45128  finance.yahoo.com  LKOH.ME 2021-09-03   6344.500000
46302  finance.yahoo.com  MGNT.ME 2021-09-03   5502.000000
47475  finance.yahoo.com  MTSS.ME 2021-09-03    329.250000
48649  finance.yahoo.com  NLMK.ME 2021-09-03    246.080002
49822  finance.yahoo.com  NVTK.ME 2021-09-03   1842.800049
50995  finance.yahoo.com  PLZL.ME 2021-09-03  13582.000000
52168  finance.yahoo.com  ROSN.ME 2021-09-03    556.099976
53342  finance.yahoo.com  SBER.ME 2021-09-03    330.079987
54516  finance.yahoo.com  SNGS.ME 2021-09-03     33.755001
55689  finance.yahoo.com  TATN.ME 2021-09-03    489.799988
56866  finance.yahoo.com     AAPL 2021-09-03    154.300003
58043  finance.yahoo.com     MSFT 2021-09-03    301.140015
59220  finance.yahoo.com     GOOG 2021-09-03   2895.500000
60397  finance.yahoo.com     AMZN 2021-09-03   3478.050049
61574  finance.yahoo.com       FB 2021-09-03    376.260010
62751  finance.yahoo.com     TSLA 2021-09-03    733.570007
63928  finance.yahoo.com     NVDA 2021-09-03    228.429993
65105  finance.yahoo.com        V 2021-09-03    225.110001
66282  finance.yahoo.com      JPM 2021-09-03    159.490005
67459  finance.yahoo.com      JNJ 2021-09-03    175.039993
68636  finance.yahoo.com      WMT 2021-09-03    149.250000
69813  finance.yahoo.com      UNH 2021-09-03    422.859985
70990  finance.yahoo.com       MA 2021-09-03    340.230011
72167  finance.yahoo.com       HD 2021-09-03    330.339996
73344  finance.yahoo.com       PG 2021-09-03    144.050003
74521  finance.yahoo.com      BAC 2021-09-03     41.049999
75698  finance.yahoo.com     PYPL 2021-09-03    289.130005
76875  finance.yahoo.com      DIS 2021-09-03    181.000000
78052  finance.yahoo.com     ADBE 2021-09-03    666.590027
79229  finance.yahoo.com      NKE 2021-09-03    163.289993
80406  finance.yahoo.com    CMCSA 2021-09-03     61.720001
81583  finance.yahoo.com      LLY 2021-09-03    259.529999
82760  finance.yahoo.com      PFE 2021-09-03     46.840000
83937  finance.yahoo.com     ORCL 2021-09-03     90.000000
85114  finance.yahoo.com       KO 2021-09-03     56.730000
86291  finance.yahoo.com      XOM 2021-09-03     54.869999
87468  finance.yahoo.com     CSCO 2021-09-03     59.419998

In [14]:
%%time
save_all_data = []
for i, row in tkrs_gb.iterrows():
    for scenario in scenarios_name_list:
        res = get_reg(row['code'], row['price'], colums_for_X, scenarios_dict[scenario], df5)
        res['scenario'] = scenario
        res['current_price_date'] = row['date'].strftime('%Y-%m-%d')
        save_all_data.append(res)

CPU times: user 706 ms, sys: 36 µs, total: 706 ms
Wall time: 702 ms

In [15]:
print(os.environ['DATABASE_URL'])
engine = sa.create_engine(os.environ['DATABASE_URL'])
save_df = pd.DataFrame(save_all_data)
save_df.to_sql(con=engine, name='predictors', if_exists='replace', index=False)
save_df

postgresql://accenture_ft:accenture_ft_secret_pwsd@postgres/main

,RU_RATE,10Y_USD,RU_CPI,IMOEX,USDRUB,SPX,price,current_price,percent,code,scenario,current_price_date
0,-0.359378,2.124940,-0.743457,0.004506,0.461883,0.007236,91.150297,73.770000,23.560115,299,base,2021-06-01
1,-0.359378,2.124940,-0.743457,0.004506,0.461883,0.007236,97.828657,73.770000,32.613064,299,positive,2021-06-01
2,-11.400116,156.126817,-50.368234,0.135972,28.717588,0.632049,6008.313012,4829.640000,24.404987,60,base,2021-06-01
3,-11.400116,156.126817,-50.368234,0.135972,28.717588,0.632049,6465.719105,4829.640000,33.875798,60,positive,2021-06-01
4,0.836836,68.240208,-19.582246,0.035208,12.897842,0.240379,2381.277405,1954.160000,21.856829,2746,base,2021-06-01
...,...,...,...,...,...,...,...,...,...,...,...,...
105,2.007164,-0.206225,-1.493186,0.013266,0.156668,-0.001518,77.181711,56.730000,36.050963,KO,positive,2021-09-03
106,5.592155,12.184759,-1.509416,0.003883,-0.188104,0.004317,70.146020,54.869999,27.840390,XOM,base,2021-09-03
107,5.592155,12.184759,-1.509416,0.003883,-0.188104,0.004317,72.780881,54.869999,32.642395,XOM,positive,2021-09-03
108,-0.418693,5.399916,0.095131,0.023201,0.102214,-0.010583,70.549187,59.419998,18.729703,CSCO,base,2021-09-03
109,-0.418693,5.399916,0.095131,0.023201,0.102214,-0.010583,74.878779,59.419998,26.016124,CSCO,positive,2021-09-03

In [16]:
save_df.dtypes

RU_RATE               float64
10Y_USD               float64
RU_CPI                float64
IMOEX                 float64
USDRUB                float64
SPX                   float64
price                 float64
current_price         float64
percent               float64
code                   object
scenario               object
current_price_date     object
dtype: object

In [49]:
#Рассчитываем историческую доходность за 1 2 и 3 года
pcntdf = all_df2.copy().reset_index()

groups_codes = list(set(pcntdf['code'].to_numpy().tolist()))

res = pd.DataFrame([])

for code in groups_codes:
    pcntdf_WITH_CODE = pcntdf[pcntdf['code']==code].sort_values('date')
    pcntdf_WITH_CODE['pct'] = pcntdf_WITH_CODE.price.pct_change(1).fillna(0)
    res = res.append(pcntdf_WITH_CODE)
res

,index,source,code,date,price,month,quarter,year,pct
38075,38075,naufor.ru,256,2004-09-24,1000.000000,9,3,2004,0.000000
38076,38076,naufor.ru,256,2004-09-27,1000.000000,9,3,2004,0.000000
38077,38077,naufor.ru,256,2004-09-28,1000.000000,9,3,2004,0.000000
38078,38078,naufor.ru,256,2004-09-29,1000.000000,9,3,2004,0.000000
38079,38079,naufor.ru,256,2004-09-30,999.890000,9,3,2004,-0.000110
...,...,...,...,...,...,...,...,...,...
83933,83933,finance.yahoo.com,ORCL,2021-08-30,89.449997,8,3,2021,0.001119
83934,83934,finance.yahoo.com,ORCL,2021-08-31,89.129997,8,3,2021,-0.003577
83935,83935,finance.yahoo.com,ORCL,2021-09-01,89.949997,9,3,2021,0.009200
83936,83936,finance.yahoo.com,ORCL,2021-09-02,89.800003,9,3,2021,-0.001668
83937,83937,finance.yahoo.com,ORCL,2021-09-03,90.000000,9,3,2021,0.002227

In [54]:
#Рассчитываем волатильность активов за последние 6 мес